@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@font-face {
    src: url(../fonts/ultra-regular.ttf);
    font-family: 'Ultra';
}

@import 'base/index';

//components
@import 'components/navbar';
@import 'components/footer';
@import 'components/valutation';
@import 'components/practicArticle';
@import 'components/communicationArticle';
@import 'components/scrollIcon';
@import 'components/currentPath';

//layouts
@import 'layout/topSection'; 
@import 'layout/secondSection';
@import 'layout/aboutSection';
@import 'layout/membership';
@import 'layout/partnership';
@import 'layout/practicArticles';
@import 'layout/practicArticlePage';
@import 'layout/contact';
@import 'layout/communication';

body{
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

.container{
    @include element-flex(column, flex-start, flex-start);
    width: 100%;
    min-height: 100vh;
    background-color: $color-lightest-gray;
}

.title{
    @include constant-width();
    font-size: $font-xl;
    font-family: $font-ultra;
    margin: 36px 0 96px;

    @include tabletWidth{
        margin: 136px 0 69px;
        padding: 0 20px;
    }
}

.content-wp{
    @include constant-width;
}