@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@font-face {
  src: url(../fonts/ultra-regular.ttf);
  font-family: 'Ultra';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.button {
  border: none;
  background: #F8D6A5;
  padding: 12px 36px;
  color: #2B2B2B;
  -webkit-transition: background .2s;
  transition: background .2s;
  text-decoration: none;
}

.button:hover {
  background: #f6cb8d;
}

.readMore {
  background: transparent;
  border: none;
  letter-spacing: 0.5px;
  color: #383F56;
  cursor: pointer;
}

.ghost {
  color: #F2F2F2;
  padding: 12px 36px;
  border-style: none;
  border: 1px solid #F2F2F2;
  background: transparent;
  text-decoration: none;
}

.navbar {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #383F56;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  -webkit-transition: background .3s;
  transition: background .3s;
}

@media screen and (max-width: 1240px) {
  .navbar {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 36px;
          column-gap: 36px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu__link {
  padding: 12px;
  color: #F2F2F2;
  text-decoration: none;
}

.navbar__menu__item {
  color: #F2F2F2;
}

.navbar .select {
  color: #F2F2F2;
  font-size: 14px;
}

.navbar .select .select__button {
  background: transparent;
  color: #F2F2F2;
  border: none;
  border-style: none;
}

@media screen and (max-width: 768px) {
  .navbar .select {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar .button {
    display: none;
  }
}

.navbar__mobileButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__mobileButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 36px;
    height: 36px;
    background: transparent;
    border-radius: none;
    border-style: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar__mobileButton__content {
    width: 100%;
    height: 2px;
    position: relative;
    background: #F2F2F2;
    border-radius: 99px;
  }
  .navbar__mobileButton__content::after, .navbar__mobileButton__content::before {
    content: '';
    width: 100%;
    height: 2px;
    background: #F2F2F2;
    position: absolute;
    left: 0;
    border-radius: 99px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .navbar__mobileButton__content::after {
    top: -9px;
  }
  .navbar__mobileButton__content::before {
    bottom: -9px;
  }
}

.navbar__mobileButton__mobileButton.active .navbar__mobileButton__content {
  background: transparent;
}

.navbar__mobileButton__mobileButton.active .navbar__mobileButton__content::after {
  -webkit-transform: translateX(-8px) rotateZ(-45deg) translateY(11px);
          transform: translateX(-8px) rotateZ(-45deg) translateY(11px);
}

.navbar__mobileButton__mobileButton.active .navbar__mobileButton__content::before {
  -webkit-transform: translateX(-8px) rotateZ(45deg) translateY(-11px);
          transform: translateX(-8px) rotateZ(45deg) translateY(-11px);
}

.navbar.navbar--transparent {
  background: transparent;
}

.navbar.navbar--transparent .navbar__logo {
  display: none;
}

.navbar.navbar--transparent .navbar__menu {
  padding: 0;
}

.navbar.navbar--transparent .navbar__menu__item {
  font-size: 14px;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.footer {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  min-height: 768px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  -ms-grid-rows: 1fr 70px 70px;
      grid-template-rows: 1fr 70px 70px;
  background: #383F56;
  padding-top: 96px;
  padding-bottom: 36px;
}

@media screen and (max-width: 1240px) {
  .footer {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 100vh;
    row-gap: 36px;
    padding: 48px 20px;
    position: relative;
  }
}

.footer__logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    position: absolute;
    right: 20px;
    top: 48px;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 36px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__list {
    width: 100%;
  }
}

.footer__list__title {
  font-family: "Ultra", serif;
  color: #F2F2F2;
  padding: 0 0 18px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer__list__item {
  color: #F2F2F2;
  padding: 12px 0;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .footer__list__item {
    padding: 10px 0;
  }
}

.footer__list.footer__menu .footer__list__item {
  padding: 6px 0;
}

@media screen and (max-width: 768px) {
  .footer__list.footer__menu .footer__list__item {
    padding: 10px 0;
  }
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  text-decoration: none;
  color: #F2F2F2;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
  color: #F2F2F2;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    text-align: center;
    display: block;
    padding: 0 12px;
  }
}

.footer__linkWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media screen and (max-width: 768px) {
  .footer__linkWrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__toTop {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 24px;
  height: 24px;
  background: url(../img/top-arrow-icon.svg) no-repeat;
  background-position: center;
  border: none;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 25px 0;
}

@media screen and (max-width: 768px) {
  .footer__toTop {
    margin-left: auto;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.button {
  border: none;
  background: #F8D6A5;
  padding: 12px 36px;
  color: #2B2B2B;
  -webkit-transition: background .2s;
  transition: background .2s;
  text-decoration: none;
}

.button:hover {
  background: #f6cb8d;
}

.readMore {
  background: transparent;
  border: none;
  letter-spacing: 0.5px;
  color: #383F56;
  cursor: pointer;
}

.ghost {
  color: #F2F2F2;
  padding: 12px 36px;
  border-style: none;
  border: 1px solid #F2F2F2;
  background: transparent;
  text-decoration: none;
}

.valutation {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 96px;
  padding-bottom: 96px;
  -webkit-column-gap: 72px;
          column-gap: 72px;
  background: #EDEDED;
}

@media screen and (max-width: 1240px) {
  .valutation {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .valutation {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .valutation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 48px 20px;
  }
}

.valutation__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.valutation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .valutation__right {
    display: none;
  }
}

.valutation__title {
  font-family: "Ultra", serif;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .valutation__title {
    font-size: 40px;
    line-height: 50px;
  }
}

.valutation__label {
  margin-top: 24px;
  margin-bottom: 72px;
}

.valutation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 24px;
}

.valutation__form__label {
  font-family: "Ultra", serif;
  font-size: 20px;
}

.valutation__form__text, .valutation__form__input {
  border: none;
  background: #ffffff;
  padding: 24px 36px;
  width: 100%;
}

.valutation__form__text {
  resize: none;
  height: 200px;
}

.valutation__form__info {
  font-family: "Prompt", sans-serif;
  letter-spacing: 0.5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.practicArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px;
  min-height: 260px;
  width: 100%;
  background: transparent;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.practicArticle:hover {
  background: #E2E2E2;
}

.practicArticle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  row-gap: 12px;
}

.practicArticle__title {
  font-family: "Ultra", serif;
  width: 100%;
  margin: 0;
}

.practicArticle__text {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.communicationArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 30px 0;
}

@media screen and (max-width: 768px) {
  .communicationArticle {
    padding: 48px 0;
  }
}

.communicationArticle__date {
  padding-bottom: 8px;
}

.communicationArticle__title {
  margin: 0;
  font-family: "Ultra", serif;
  margin: 20px 0 12px 0;
}

.communicationArticle__content {
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}

.communicationArticle__label {
  margin-bottom: 19px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.scrollIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 54px;
  left: 50%;
  bottom: 24px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scrollIcon #arrow-top {
  -webkit-animation: scrollArrow 2s infinite;
          animation: scrollArrow 2s infinite;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.scrollIcon #arrow-bottom {
  -webkit-animation: scrollArrow 2s infinite;
          animation: scrollArrow 2s infinite;
}

.scrollIcon #scroll {
  -webkit-animation: scrollArrow 2s infinite;
          animation: scrollArrow 2s infinite;
}

@-webkit-keyframes scrollArrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scrollArrow {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scrollButton {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -webkit-transform: scaleY(-2px);
            transform: scaleY(-2px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes scrollButton {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -webkit-transform: scaleY(-2px);
            transform: scaleY(-2px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.currentPath {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 130px;
  list-style: none;
}

@media screen and (max-width: 1240px) {
  .currentPath {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .currentPath {
    padding: 0;
  }
}

.currentPath__path {
  color: #383F56;
  letter-spacing: 0.5px;
  position: relative;
}

.currentPath__path:not(:last-of-type) {
  padding-right: 24px;
  margin-right: 24px;
}

.currentPath__path:not(:last-of-type)::after {
  content: '';
  width: 6px;
  height: 24px;
  background: url(../img/slash.svg) no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.currentPath__path a {
  text-decoration: none;
}

.currentPath__path a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .currentPath {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.topSection {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #212E44;
  background-image: url(../img/topSection.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 1240px) {
  .topSection {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .topSection {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .topSection {
    padding: 0 20px;
  }
}

.topSection__logo {
  width: 32px;
}

.topSection__title {
  font-size: 48px;
  color: #F2F2F2;
  font-family: "Ultra", serif;
  width: 580px;
  line-height: 60px;
  margin: 54px 0 24px;
}

@media screen and (max-width: 768px) {
  .topSection__title {
    width: auto;
    padding: 0 20px 0 0;
    font-size: 40px;
    line-height: 50px;
  }
}

.topSection__text {
  width: 580px;
  color: #F2F2F2;
  letter-spacing: 0.5px;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .topSection__text {
    width: auto;
    padding: 0 20px 0 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.secondSection {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1240px) {
  .secondSection {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .secondSection {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .secondSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.secondSection::before {
  content: '';
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #383F56;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .secondSection::before {
    display: none;
  }
}

.secondSection__leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 96px 114px 49px 0;
  background-color: #383F56;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .secondSection__leftColumn {
    padding: 36px 20px;
  }
}

.secondSection__leftColumn__img {
  width: 100%;
  max-width: 384px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.secondSection__title {
  font-size: 48px;
  color: #F2F2F2;
  font-family: "Ultra", serif;
  margin: 0;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .secondSection__title {
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 50px;
  }
}

.secondSection__rightColumn {
  padding: 96px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 72px;
}

@media screen and (max-width: 768px) {
  .secondSection__rightColumn {
    padding: 36px 20px;
    row-gap: 48px;
  }
}

.secondSection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 24px;
}

@media screen and (max-width: 768px) {
  .secondSection__wrapper {
    row-gap: 12px;
  }
}

.secondSection__label {
  font-family: "Ultra", serif;
  margin: 0;
  font-size: l;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.aboutSection {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1240px) {
  .aboutSection {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .aboutSection {
    padding: 0;
  }
}

@media screen and (max-width: 1240px) {
  .aboutSection {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .aboutSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
}

.aboutSection__title {
  font-family: "Ultra", serif;
  font-size: 48px;
  color: #F2F2F2;
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.aboutSection__title.font-dark {
  color: #2B2B2B;
}

@media screen and (max-width: 768px) {
  .aboutSection__title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 50px;
  }
}

.aboutSection__text {
  color: #F2F2F2;
}

.aboutSection__text.font-dark {
  color: #2B2B2B;
}

.aboutSection__about {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
  background: #212E44;
  z-index: 1;
  position: relative;
  color: #F2F2F2;
  padding-bottom: 252px;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .aboutSection__about {
    padding: 36px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.aboutSection__about::after {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #212E44;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .aboutSection__about::after {
    display: none;
  }
}

.aboutSection__about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4%;
          column-gap: 4%;
  width: 100%;
  max-height: 486px;
}

@media screen and (max-width: 768px) {
  .aboutSection__about__wrapper {
    max-height: unset;
  }
}

.aboutSection__about__wrapper p {
  color: #F2F2F2;
  max-width: 48%;
}

@media screen and (max-width: 768px) {
  .aboutSection__about__wrapper p {
    max-width: unset;
    width: 100%;
  }
}

.aboutSection__crew {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-transform: translateY(-156px);
          transform: translateY(-156px);
  width: 100%;
  height: 100%;
  min-height: 780px;
  background: #383F56;
  z-index: 2;
  color: #F2F2F2;
  position: relative;
  padding: 92px 60px 92px 0px;
}

.aboutSection__crew p {
  color: #F2F2F2;
}

@media screen and (max-width: 768px) {
  .aboutSection__crew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px 20px;
    -webkit-transform: none;
            transform: none;
    min-height: unset;
  }
}

.aboutSection__crew::after {
  content: '';
  width: 50vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #383F56;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .aboutSection__crew::after {
    display: none;
  }
}

.aboutSection__crew::before {
  content: '';
  width: 50vw;
  height: 156px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(156px);
          transform: translateY(156px);
  background: #E5E5E5;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .aboutSection__crew::before {
    display: none;
  }
}

.aboutSection__values {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
  z-index: 2;
  min-height: 780px;
  background: #F2F2F2;
  position: relative;
  padding: 96px 0 96px 120px;
}

@media screen and (max-width: 768px) {
  .aboutSection__values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px 20px;
    min-height: unset;
  }
}

.aboutSection__values p {
  color: #2B2B2B;
}

.aboutSection__values::after {
  content: '';
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #F2F2F2;
  z-index: -1;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.members {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  padding-top: 96px;
  padding-bottom: 96px;
  row-gap: 24px;
}

@media screen and (max-width: 1240px) {
  .members {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .members {
    padding: 0;
  }
}

@media screen and (max-width: 1240px) {
  .members {
    padding-top: 96px;
    padding-bottom: 108px;
  }
}

@media screen and (max-width: 768px) {
  .members {
    padding: 48px 20px;
    row-gap: 6px;
  }
}

.members__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 72px;
          column-gap: 72px;
  row-gap: 72px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.members__title {
  font-size: 48px;
  font-family: "Ultra", serif;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .members__title {
    font-size: 30px;
  }
}

.members a, .members__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 280px;
  padding: 0 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.partners {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #EDEDED;
  padding-top: 96px;
  padding-bottom: 108px;
  row-gap: 24px;
  height: auto;
}

@media screen and (max-width: 1240px) {
  .partners {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    padding: 0;
  }
}

@media screen and (max-width: 1240px) {
  .partners {
    padding-top: 96px;
    padding-bottom: 108px;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    padding: 48px 20px;
    row-gap: 6px;
  }
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 72px;
          column-gap: 72px;
  row-gap: 72px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__container a {
  text-decoration: none;
  cursor: pointer;
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 320px;
  padding: 0 10px;
}

.partners__title {
  font-size: 48px;
  font-family: "Ultra", serif;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .partners__title {
    font-size: 30px;
  }
}

.partners__logo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.practicArticles {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  padding-bottom: 84px;
}

@media screen and (max-width: 1240px) {
  .practicArticles {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .practicArticles {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .practicArticles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px 8px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.practicArticleWrapper {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media screen and (max-width: 1240px) {
  .practicArticleWrapper {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .practicArticleWrapper {
    padding: 0;
  }
}

.practicArticleWrapper__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.practicArticleWrapper__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .practicArticleWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .practicArticleWrapper__left {
    display: block;
    width: 100%;
    min-height: 50vh;
    padding: 36px 20px;
  }
  .practicArticleWrapper__right {
    display: none;
  }
}

.practicMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 176px;
  right: 0;
  width: 100%;
  max-width: 300px;
  list-style: none;
}

.practicMenu__item {
  letter-spacing: 0.5px;
  padding: 7px 0;
}

.practicMenu__item a {
  color: #2B2B2B;
  text-decoration: none;
}

.practicMenu__item a:hover {
  text-decoration: underline;
}

.practicMenu .practic--active a {
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #383F56;
}

@media screen and (max-width: 768px) {
  .practicMenu {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.contact {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 360px;
  padding-bottom: 96px;
}

@media screen and (max-width: 1240px) {
  .contact {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 36px;
    min-height: 50vh;
    padding: 36px 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2B2B2B;
}

body {
  background: #EDEDED;
  margin: 0;
}

.communication {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  padding-bottom: 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

@media screen and (max-width: 1240px) {
  .communication {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .communication {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 36px 20px;
  }
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #F2F2F2;
}

.title {
  width: 100%;
  padding: 0 calc(50vw - 600px);
  font-size: 48px;
  font-family: "Ultra", serif;
  margin: 36px 0 96px;
}

@media screen and (max-width: 1240px) {
  .title {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .title {
    margin: 136px 0 69px;
    padding: 0 20px;
    font-size: 35px;
  }
}

.content-wp {
  width: 100%;
  padding: 0 calc(50vw - 600px);
}

@media screen and (max-width: 1240px) {
  .content-wp {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .content-wp {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */