@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import 'base/index';

//components
@import 'components/navbar';
@import 'components/footer';
@import 'components/valutation';
@import 'components/practicArticle';
@import 'components/communicationArticle';
@import 'components/scrollIcon';

//layouts
@import 'layout/topSection'; 
@import 'layout/secondSection';
@import 'layout/aboutSection';
@import 'layout/membership';
@import 'layout/partnership';
@import 'layout/practicArticles';
@import 'layout/practicArticlePage';
@import 'layout/contact';
@import 'layout/communication';

.container{
    @include element-flex(column, flex-start, flex-start);
    width: 100%;
    min-height: 100vh;
    background-color: $color-lightest-gray;
}

.title{
    @include constant-width();
    font-size: $font-xl;
    font-family: $font-ultra;
    margin: 130px 0 96px;
}