@import '../base/index';
@import 'button';

.navbar{
    @include constant-width;
    @include element-flex(row, space-between, center);
    height: 80px;
    background: $color-blue;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transition: background .3s;
    &__wrapper{
        @include element-flex(row, center, center);
        column-gap: 36px;
    }
    &__menu{
        @include element-flex(row, flex-start, center);
        list-style: none;
        &__link{
            padding: 12px;
            color: $font-light;
            text-decoration: none;
        }
        &__item{
            color: $font-light;
        }
    }
    &__select{
        color: $font-light;
        font-size: $font-s;
    }
}

.navbar.navbar--transparent{
    background: transparent;
    .navbar__logo{
        display: none;
    }
    .navbar__menu{
        padding: 0;
        &__item{
            font-size: $font-s;
            font-weight: 500;
        }
    }
}