@import '../base/index';
@import 'button';

.navbar{
    @include constant-width;
    @include element-flex(row, space-between, center);
    height: 80px;
    background: $color-blue;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    transition: background .3s;
    @include tabletWidth{
        padding: 0 20px;
        justify-content: stretch;
        column-gap: 24px;
    }
    &__logo{
        @include tabletWidth{
            max-width: 150px;
        }
    }
    .mobile--button{
        display: none;
        text-decoration: none;
        @include tabletWidth{
            display: flex;
            .button{
                margin-top: 72px;
                display: flex;
            }
        }
    }
    &__wrapper{
        @include element-flex(row, center, center);
        column-gap: 36px;
        &:first-of-type{
            @include tabletWidth{
                flex-grow: 1;
            }
        }
        @include tabletWidth{
            justify-content: flex-start;
        }
    }
    &__menu{
        @include element-flex(row, flex-start, center);
        list-style: none;

        @include smDesktopWidth{
            padding: 0;
        }

        @include tabletWidth{
            @include element-flex(column, center, center);
            position: fixed;
            width: 100%;
            height: 101vh;
            right: -100%;
            top: 0;
            background: $color-blue;
            row-gap: 24px;
            padding: 72px 24px;
            margin: 0;
            transition: transform .3s;
        }
        &.active{
            @include tabletWidth{
                transform: translateX(-100%);
            }
        }
        &__link{
            padding: 12px;
            color: $font-light;
            text-decoration: none;
        }
        &__item{
            color: $font-light;
            @include smDesktopWidth{
            font-size: $font-s;
        }
        }
    }
    .select{
        color: $font-light;
        font-size: $font-s;
        .select__button{
            background: transparent;
            color: $font-light;
            border: none;
            border-style: none;
        }

        @include tabletWidth{
            display: flex;
        }
    }
    .button{
        @include tabletWidth{
            display: none;
        }
    }
    &__mobileButton{
        display: none;
        @include tabletWidth{
            @include element-flex(column, center, center);
            width: 36px;
            height: 36px;
            background: transparent;
            border-radius: none;
            border-style: none;
        }
        &__content{
            transition: background .3s;
            @include tabletWidth{
                width: 100%;
                height: 2px;
                position: relative;
                background: $color-lightest-gray;
                border-radius: 99px;
                &::after,
                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $color-lightest-gray;
                    position: absolute;
                    left: 0;
                    border-radius: 99px;
                    transition: transform .3s;
                }
                &::after{
                    top: -9px;
                }
                &::before{
                    bottom: -9px;
                }
                &.active{
                    background: transparent;
                    &::after{
                        transform: translateX(-9px) rotateZ(-45deg) translateY(12px);
                    }
            
                    &::before{
                        transform: translateX(-9px) rotateZ(45deg) translateY(-12px);
                    }
                }
            }
        }
    }
}

.navbar.navbar--transparent{
    background: transparent;

    .navbar__logo{
        display: none;
    }
    .navbar__menu{
        padding: 0;
        &__item{
            font-size: $font-s;
            font-weight: 500;
        }
    }
}