@import '../base/index';
@import 'button';

.valutation{
    @include constant-width;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 96px;
    padding-bottom: 96px;
    column-gap: 72px;
    background: $color-lighter-gray;
    @include tabletWidth{
        @include element-flex(column, flex-start, flex-start);
        padding: 48px 20px;
    }
    &__left{
        @include element-flex(column, flex-start, flex-start);
        width: 100%;
        height: 100%;
    }
    &__right{
        @include element-flex(column, flex-end, flex-end);
        width: 100%;
        height: 100%;
        padding-bottom: 150px;
        @include tabletWidth{
            display: none;
        }
    }
    &__title{
        font-family: $font-ultra;
        font-size: $font-xl;
        line-height: 60px;
        margin: 0;
        @include tabletWidth{
            font-size: 40px;
            line-height: 50px;
        }
    }
    &__label{
        margin-top: 24px;
        margin-bottom: 72px;
    }
    &__form{
        @include element-flex(column, flex-start, flex-start);
        row-gap: 24px;
        &__label{
            font-family: $font-ultra;
            font-size: $font-l;
        }
        &__text,
        &__input{
            border: none;
            background: #ffffff;
            padding: 24px 36px;
            width: 100%;
        }
        &__text{
            resize: none;
            height: 200px;
        }
        &__info{
            font-family: $font-prompt;
            letter-spacing: 0.5px;
        }
    }
}