@import '../base/index';

.communication{
    @include constant-width();
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    @include tabletWidth{
        @include element-flex(column, flex-start, flex-start);
        padding: 36px 20px;
    }
}