@import '../base/index';

.members{
    @include constant-width;
    @include element-flex(column, center, center);
    background: $color-lightest-gray;
    padding-top: 96px;
    padding-bottom: 96px;
    row-gap: 24px;
    &__title{
        font-size: $font-xl;
        font-family: $font-ultra;
        margin: 0;
    }
}