@import '../base/index';

.partners{
    @include constant-width;
    @include element-flex(column, center, center);
    background: $color-lighter-gray;
    padding-top: 96px;
    padding-bottom: 108px;
    row-gap: 24px;
    height: auto;
    @include smDesktopWidth{
        padding-top: 96px;
        padding-bottom: 108px;
    }
    @include tabletWidth{
        padding: 48px 20px;
        row-gap: 6px;
    }
    &__container{
        @include element-flex(row, center, center);
        column-gap: 72px;
        row-gap: 72px;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__wrapper{
        @include element-flex(column, center, center);
        width: 100%;
        max-width: 320px;
        padding: 0 10px;
    }
    &__title{
        font-size: $font-xl;
        font-family: $font-ultra;
        margin: 0;
        @include tabletWidth{
            font-size: 30px;
        }
    }
    &__logo{
        width: 100%;
        object-fit: cover;
    }
}