@import '../base/index';

.topSection{
    @include constant-width;
    @include element-flex(column, center, flex-start);
    background-color: $color-blue-dark;
    background-image: url(../img/topSection.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    @include tabletWidth{
        padding: 0 20px;
    }
    &__logo{
        width: 32px;
    }
    &__title{
        font-size: $font-xl;
        color: $font-light;
        font-family: $font-ultra;
        width: 580px;
        line-height: 60px;
        margin: 54px 0 24px;
        @include tabletWidth{
            width: auto;
            padding: 0 20px 0 0;
        }
    }
    &__text{
        width: 580px;
        color: $font-light;
        letter-spacing: 0.5px;
        margin-bottom: 92px;
        @include tabletWidth{
            width: auto;
            padding: 0 20px 0 0;
        }
    }
}